body{
	width:95%;
	margin:0px auto;
	min-width:600px;
	max-width:2000px;
	background: -webkit-canvas(squares);
	background-color: #000080;
}
#header {
	background-color:#3e3436;
	text-align:center;
	font-family:"Ek Mukta";
	color:orange;
	padding:5px;
}
.clearfix:after {

	display:block;
	clear:both;
}
.menu-wrap{
	width:100%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background:#3e3436;
}
.menu{
	width:1000px;
	margin:0px auto;
}

.menu li{
	margin:0px;
	list-style:none;
	font-family:"Ek Mukta";
}

.menu a{
	transition:all linear 0.15s;
	color:orange;
}

.menu li:hover > a, .menu .current-item > a{
	text-decoration:none;
	color:orange;
}
.menu .arrow{
	font-size:11px;
	line-height:0%;
}
.menu > ul > li {

	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}

.menu > ul > li > a{

	padding:10px 40px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
	background:#2e2728
}
.sub-menu{
	width:160%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	left:0%;
	z-index:-1;
	opacity:0;
	transition:opacity linear 0.15s;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	background:#2e2728;
}

.menu li:hover .sub-menu{
	z-index:1;
	opacity:1;
}
.sub-menu li{
	display:block;
	font-size:16px;
}

.sub-menu li a{
	padding:10px 30px;
	display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a{
	background:#3e3436;
}
#nav{
	line-height:30px;
	background-color:#3e3436;
	color:orange;
	height:400px;
	width:120px;
	float:left;
	padding:5px;
	font-family: "Ek Mukta";
}

#section {

	min-width:480px;
	max-width:1880px;
	margin:auto;
	width:95%;
	color:black;
	font-family: "Verdana,Geneva, sans-serif;
	padding:5px;

}
iframe {
	background-color: white;
	margin:0px auto;
	width:600px;
	height:400px;
}
ul{
	list-style-type: none;
}
a{
	display:block;
	color:orange;
	padding:8px 0 8px 16px;
	text-decoration: none;
}