body{
	width:95%;
	margin:0px auto;
	min-width:600px;
	max-width:2000px;
	background: -webkit-canvas(squares);
	background-color: #000080;
}
#header {
	text-align:center;
	font-family:"Calibri";
	font-size:50pt;
	color:white;
	padding:5px;
}
